@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  background-color: white;
} */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
  margin: auto;
  background: black;
  height: 100vh;
  width: 720px;
}
h1 {
  font-size: 40px;
  color: white;
  font-weight: 900;
}
h2 {
  font-size: 30px;
  color: white;
  font-weight: 700;
}
button {
  width: 100%;
  color: black;
  margin: 10px 0px;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: white;
  font-weight: 650;
}
button:hover {
  background-color: orange;
}
